      <!-- footer#1
============================================= -->
<footer id="footer" class="footer footer-1 text-center">
    <div class="divider--shape-dark"></div>
    <!-- Widget Section
============================================= -->
    <div class="footer--widget text--center">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-4 col-md-4">
            <div class="footer--widget-content">
              <h3>Follow Us</h3>
              <div class="footer--social-icons">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-pinterest"></i></a>
                <a href="#"><i class="fa fa-tripadvisor"></i></a>
              </div>
              <!-- .social-icons end -->
            </div>
          </div>
          <!-- .col-md-4 end -->
          <div class="col-xs-12 col-sm-4 col-md-4">
            <div class="footer--widget-content">
              <img
                class="mb-20"
                src="  images/logo/logo-light.png"
                alt="logo"
              />
              <p>
                Steak In has the perfect place to enjoy fine food and great
                cocktails with excellent service, in comfortable atmospheric
                surroundings. We have a soft dining room, combined with an
                open kitchen, coffee take out bar.
              </p>
            </div>
          </div>
          <!-- .col-md-3 end -->

          <div class="col-xs-12 col-sm-4 col-md-4">
            <div class="footer--widget-content">
              <h3>Neswletter</h3>
              <div class="widget--newsletter">
                <form class="footer--social-newsletter mailchimp">
                  <input
                    type="email"
                    name="email"
                    class="form-control"
                    placeholder="Subscribe Our Newsletter"
                  />
                  <button type="submit">join</button>
                </form>
                <div class="subscribe-alert"></div>
              </div>
              <!-- .widget end -->
            </div>
          </div>
          <!-- .col-md-3 end -->
        </div>
      </div>
      <!-- .container end -->
    </div>
    <!-- .footer-widget end -->
    <!-- Copyrights
============================================= -->
    <div class="footer--copyright text-center">
      <div class="divider--shape-dark2"></div>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="contact-info">
              <span>Sky Building, California, USA</span> -
              <span>02 01065370701</span> -
              <span>steakinrestaurant@gmail.com</span>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12">
            <span>&copy; <%=new Date().getFullYear()%> Steak In, Made by El Programmers </span>
          </div>
        </div>
      </div>
      <!-- .container end -->
    </div>
    <!-- .footer-copyright end -->
  </footer>
</div>
<!-- #wrapper end -->

<!-- Footer Scripts
============================================= -->
<script src="  js/jquery-2.2.4.min.js"></script>
<script src="  js/plugins.js"></script>
<script src="  js/functions.js"></script>
<!-- RS5.0 Core JS Files -->
<script src="  revolution/js/jquery.themepunch.tools.min.js?rev=5.0"></script>
<script src="  revolution/js/jquery.themepunch.revolution.min.js?rev=5.0"></script>
<script src="  revolution/js/extensions/revolution.extension.video.min.js"></script>
<script src="  revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
<script src="  revolution/js/extensions/revolution.extension.actions.min.js"></script>
<script src="  revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script src="  revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
<script src="  revolution/js/extensions/revolution.extension.navigation.min.js"></script>
<script src="  revolution/js/extensions/revolution.extension.migration.min.js"></script>
<script src="  revolution/js/extensions/revolution.extension.parallax.min.js"></script>
<!-- RS Configration JS Files -->
<script src="  js/rsconfig.js"></script>
</body>
</html>
