<!DOCTYPE html>
<html dir="ltr" lang="en-US">
  <head>
    <!-- Document Meta
    ============================================= -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!--IE Compatibility Meta-->
    <meta name="author" content="zytheme" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <meta
      name="description"
      content="Elegant Restaurant & Cafe Html5 Template by zytheme"
    />
    <link href="images/favicon/favicon.png" rel="icon" />

    <!-- Fonts
    ============================================= -->
    <link
      href="http://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,700,900%7CRuthie%7CAbril+Fatface"
      rel="stylesheet"
      type="text/css"
    />

    <!-- Stylesheets
    ============================================= -->
    <link href="css/external.css" rel="stylesheet" />
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet" />

    <!-- RS5.0 Main Stylesheet -->
    <link rel="stylesheet" type="text/css" href="revolution/css/settings.css" />
    <link rel="stylesheet" type="text/css" href="revolution/css/layers.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="revolution/css/navigation.css"
    />

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="  js/html5shiv.js"></script>
      <script src="  js/respond.min.js"></script>
    <![endif]-->

    <!-- Document Title
    ============================================= -->
    <title>Steak In | Elegant Restaurant & Cafe Html5 Template</title>
  </head>

  <body>
    <div class="preloader">
      <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>
    </div>
    <!-- Document Wrapper
	============================================= -->
    <div id="wrapper" class="wrapper clearfix">
      <header
        id="navbar-spy"
        class="header header-1 header-transparent header-fixed"
      >
        <nav id="primary-menu" class="navbar navbar-fixed-top">
          <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button
                type="button"
                class="navbar-toggle collapsed"
                data-toggle="collapse"
                data-target="#navbar-collapse-1"
                aria-expanded="false"
              >
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="logo" href="/home">
                <img
                  class="logo-light"
                  src="images/logo/logo-light.png"
                  alt="Steakin Logo"
                  draggable="false"
                />
                <img
                  class="logo-dark"
                  src="images/logo/logo-dark.png"
                  alt="Steakin Logo"
                  draggable="false"
                />
              </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div
              class="collapse navbar-collapse pull-right"
              id="navbar-collapse-1"
            >
              <ul class="nav navbar-nav nav-pos-right navbar-left">
                <!-- Home Menu -->
                <li class="has-dropdown mega-dropdown active">
                  <a href="/home" class="menu-item">home</a>
                </li>
                <!-- li end -->

                <!-- About Menu -->
                <li class="has-dropdown">
                  <a
                    href="#"
                    data-toggle="dropdown"
                    class="dropdown-toggle menu-item"
                    >About</a
                  >
                  <ul class="dropdown-menu">
                    <li>
                      <a href="/page-about">our story</a>
                    </li>
                    <li>
                      <a href="/page-chefs">our chefs</a>
                    </li>
                    <li>
                      <a href="/page-contacts">contact us</a>
                    </li>
                    <li>
                      <a href="/page-faqs">FAQs</a>
                    </li>
                  </ul>
                </li>
                <!-- li end -->

                <!-- About Menu -->
                <li class="has-dropdown">
                  <a href="/menu-grid" class="menu-item" data-hover="pages"
                    >Menu</a
                  >
                </li>
                <!-- li end -->

                <!-- shop Menu -->
                <li class="has-dropdown">
                  <a href="/page-shops" class="menu-item" data-hover="pages"
                    >Branches</a
                  >
                </li>
                <!-- li end -->
              </ul>
              <!-- Module Reservation  -->
              <div class="module module-reservation pull-left">
                <a
                  href="/page-book-table"
                  class="btn-popup btn-popup-theme"
                  >Book A Table</a
                >
              </div>
              <!-- Module Cart -->
              <div class="module module-cart pull-left">
                <div class="module-icon cart-icon">
                  <a href="/page-admin"><i class="fa fa-lock" aria-hidden="true"></i></a>
                </div>
              </div>
            </div>
            <!-- /.navbar-collapse -->
          </div>
          <!-- /.container-fluid -->
        </nav>
      </header>