<%- include("partials/header") -%>

<section id="page-title" class="page-title bg-overlay bg-parallax bg-overlay-gradient">
    <div class="bg-section">
        <img src="images/page-title/4.jpg" alt="Background" />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="title title-1 text-center">
                    <div class="title--content">
                        <div class="title--subtitle">Admin Portal</div>
                        <div class="title--heading">
                            <h1>Management</h1>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <ol class="breadcrumb">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="index.html">about</a></li>
                        <li class="active">admin portal</li>
                    </ol>
                    <div class="divider--shape-1down"></div>
                </div>
                <!-- .title end -->
            </div>
            <!-- .col-md-12 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #page-title end -->

<section id="contact1" class="contact contact-1 " >
    <div class="container" >
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="form-container">
                    <div class="row">
                        

                        <div class="col-xs-12 col-sm-12 col-md-6">
                            <a class="btn btn-outline-primary" href="/page-add-chefs" role="button">Add Chefs</a>
                            <a class="btn btn-outline-primary" href="/page-add-chefs" role="button">Add Breakfast</a>
                        </div>
                        <!-- .col-md-6 end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<%- include("partials/footer") -%>