<%- include("partials/header") -%>
      <!-- Hero Section
====================================== -->
      <section id="slider" class="slider slide-overlay-dark">
        <!-- START REVOLUTION SLIDER 5.0 -->
        <div class="rev_slider_wrapper">
          <div id="slider1" class="rev_slider" data-version="5.0">
            <ul>
              <!-- slide 1 -->
              <li
                data-transition="zoomin"
                data-slotamount="default"
                data-easein="Power4.easeInOut"
                data-easeout="Power4.easeInOut"
                data-masterspeed="2000"
              >
                <!-- MAIN IMAGE -->
                <img
                  src="  images/sliders/slide-bg/1.jpg"
                  alt="Slide Background Image"
                  width="1920"
                  height="1280"
                />
                <!-- LAYER NR. 1 -->
                <div
                  class="tp-caption"
                  data-x="center"
                  data-hoffset="0"
                  data-y="center"
                  data-voffset="-130"
                  data-whitespace="nowrap"
                  data-width="none"
                  data-height="none"
                  data-frames='[{"delay":1500,"speed":1000,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                  data-splitin="none"
                  data-splitout="none"
                  data-responsive_offset="on"
                >
                  <div class="slide--subheadline">Welcome To Steak In</div>
                </div>

                <!-- LAYER NR. 2 -->
                <div
                  class="tp-caption"
                  data-x="center"
                  data-hoffset="0"
                  data-y="center"
                  data-voffset="-65"
                  data-whitespace="nowrap"
                  data-width="none"
                  data-height="none"
                  data-frames='[{"delay":1750,"speed":1000,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                  data-splitin="none"
                  data-splitout="none"
                  data-responsive_offset="on"
                >
                  <div class="slide--headline">We Are Food Masters!</div>
                </div>

                <!-- LAYER NR. 3 -->
                <div
                  class="tp-caption"
                  data-x="center"
                  data-hoffset="0"
                  data-y="center"
                  data-voffset="20"
                  data-width="none"
                  data-height="none"
                  data-frames='[{"delay":2000,"speed":1000,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                  data-splitin="none"
                  data-splitout="none"
                  data-responsive_offset="on"
                >
                  <div class="slide--bio text--center">
                    Steak In has the perfect place to enjoy fine food and great
                    cocktails with <br />excellent service, in comfortable
                    atmospheric surroundings.
                  </div>
                </div>

                <!-- LAYER NR. 4 -->
                <div
                  class="tp-caption"
                  data-x="center"
                  data-hoffset="0"
                  data-y="center"
                  data-voffset="100"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;"
                  data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power3.easeOut;"
                  data-style_hover="c:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);"
                  data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                  data-transform_out="y:[175%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                  data-mask_out="x:inherit;y:inherit;"
                  data-start="1250"
                  data-splitin="none"
                  data-splitout="none"
                  data-frames='[{"delay":2000,"speed":1500,"frame":"0","from":"y:bottom;rX:-20deg;rY:-20deg;rZ:0deg;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                  data-basealign="slide"
                  data-responsive_offset="on"
                  data-responsive="off"
                >
                  <div class="slide-action">
                    <a
                      class="btn btn--white btn--bordered btn--rounded btn--lg"
                      href="/page-book-table"
                      >Book Your Table Now</a
                    >
                  </div>
                </div>
              </li>

              <!-- slide 2 -->
              <li
                data-transition="slideoverdown"
                data-slotamount="default"
                data-easein="Power4.easeInOut"
                data-easeout="Power4.easeInOut"
                data-masterspeed="2000"
              >
                <!-- MAIN IMAGE -->
                <img
                  src="  images/sliders/slide-bg/3.jpg"
                  alt="Slide Background Image"
                  width="1920"
                  height="1280"
                />
                <!-- LAYER NR. 1 -->
                <div
                  class="tp-caption"
                  data-x="center"
                  data-hoffset="0"
                  data-y="center"
                  data-voffset="-130"
                  data-whitespace="nowrap"
                  data-width="none"
                  data-height="none"
                  data-frames='[{"delay":1500,"speed":1500,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                  data-splitin="none"
                  data-splitout="none"
                  data-responsive_offset="on"
                >
                  <div class="slide--subheadline">Hello, We Are Granny</div>
                </div>

                <!-- LAYER NR. 2 -->
                <div
                  class="tp-caption"
                  data-x="center"
                  data-hoffset="0"
                  data-y="center"
                  data-voffset="-65"
                  data-whitespace="nowrap"
                  data-width="none"
                  data-height="none"
                  data-frames='[{"delay":1750,"speed":1000,"frame":"0","from":"z:0;rX:0deg;rY:0;rZ:0;sX:2;sY:2;skX:0;skY:0;opacity:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                  data-splitin="none"
                  data-splitout="none"
                  data-responsive_offset="on"
                >
                  <div class="slide--headline extend">
                    We Serve Quality Food
                  </div>
                </div>

                <!-- LAYER NR. 3 -->
                <div
                  class="tp-caption"
                  data-x="center"
                  data-hoffset="0"
                  data-y="center"
                  data-voffset="20"
                  data-width="none"
                  data-height="none"
                  data-frames='[{"delay":2000,"speed":300,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                  data-splitin="none"
                  data-splitout="none"
                  data-responsive_offset="on"
                >
                  <div class="slide--bio text--center">
                    Granny is a restaurant, bar and coffee roastery located on
                    Egypt. We have<br />awesome recipes and the most talented
                    chefs in town!
                  </div>
                </div>

                <!-- LAYER NR. 4 -->
                <div
                  class="tp-caption"
                  data-x="center"
                  data-hoffset="0"
                  data-y="center"
                  data-voffset="100"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-frames='[{"delay":2250,"speed":1500,"frame":"0","from":"x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                  data-splitin="none"
                  data-splitout="none"
                  data-actions='[{"event":"click","action":"jumptoslide","slide":"rs-164","delay":""}]'
                  data-basealign="slide"
                  data-responsive_offset="on"
                  data-responsive="off"
                >
                  <div class="slide-action">
                    <a
                      class="btn btn--primary btn--inverse btn--rounded btn--lg"
                      href="/menu-grid"
                      >View Menu</a
                    >
                  </div>
                </div>
              </li>

              <!-- slide 3 -->
              <li
                data-transition="zoomout"
                data-slotamount="default"
                data-easein="Power4.easeInOut"
                data-easeout="Power4.easeInOut"
                data-masterspeed="2000"
              >
                <!-- MAIN IMAGE -->
                <img
                  src="  images/sliders/slide-bg/12.jpg"
                  alt="Slide Background Image"
                  width="1920"
                  height="1280"
                />
                <!-- LAYER NR. 1 -->
                <div
                  class="tp-caption"
                  data-x="center"
                  data-hoffset="0"
                  data-y="center"
                  data-voffset="-65"
                  data-whitespace="nowrap"
                  data-width="none"
                  data-height="none"
                  data-frames='[{"delay":1500,"speed":1500,"frame":"0","from":"x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                  data-splitin="none"
                  data-splitout="none"
                  data-responsive_offset="on"
                >
                  <div class="slide--subheadline">Steak In Offers You</div>
                </div>

                <!-- LAYER NR. 2 -->
                <div
                  class="tp-caption"
                  data-x="center"
                  data-hoffset="0"
                  data-y="center"
                  data-voffset="0"
                  data-whitespace="nowrap"
                  data-width="none"
                  data-height="none"
                  data-frames='[{"delay":1750,"speed":1500,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                  data-splitin="none"
                  data-splitout="none"
                  data-responsive_offset="on"
                >
                  <div class="slide--headline">Fresh & Tasty Meals</div>
                </div>

                <!-- LAYER NR. 3 -->
                <div
                  class="tp-caption"
                  data-x="center"
                  data-hoffset="0"
                  data-y="center"
                  data-voffset="100"
                  data-width="none"
                  data-height="none"
                  data-frames='[{"delay":2000,"speed":2000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                  data-splitin="none"
                  data-splitout="none"
                  data-responsive_offset="on"
                >
                  <div class="slide--bio text--center">
                    Steak In has the perfect place to enjoy fine food and great
                    cocktails with <br />excellent service, in comfortable
                    atmospheric surroundings.
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <!-- END REVOLUTION SLIDER -->
        </div>
        <!-- END OF SLIDER WRAPPER -->
      </section>
      <!-- banner#4
============================================= -->
      <section id="banner4" class="banner banner-2 text-center">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6">
              <div class="heading heading-1 text--center">
                <p class="heading--subtitle">Hello dear</p>
                <h2 class="heading--title">Welcome to Steakin</h2>
                <div class="divider--shape-4"></div>
                <p class="heading--desc">
                  Steak In was the first retaurant to open in Egypt, the
                  resturant was designed with the history in mind we have
                  created a soft industrial dining room, combined with an open
                  kitchen, coffee take out bar and on site coffee roastery.
                </p>
              </div>
              <!-- .heading end -->
              <a
                class="btn btn--secondary btn--bordered btn--rounded mt-30"
                href="#"
                >Book A Table</a
              >
            </div>
            <!-- .col-md-6 end -->
            <div class="col-xs-12 col-sm-6 col-md-3">
              <div class="banner-img mt-20">
                <img src="  images/banners/4.jpg" alt="image" />
              </div>
            </div>
            <!-- .col-md-3 end -->
            <div class="col-xs-12 col-sm-6 col-md-3">
              <div class="banner-img">
                <img src="  images/banners/5.jpg" alt="image" />
              </div>
              <!-- .col-md-3 end -->
            </div>
            <!-- .col-md-3 end -->
          </div>
          <!-- .row end -->
        </div>
        <!-- .container end -->
      </section>
      <!-- #banner4 end -->

      <!-- specials #1
============================================= -->
      <section
        id="specials1"
        class="specials specials-1 menu-simple bg-overlay bg-parallax bg-overlay-dark"
      >
        <div class="bg-section">
          <img src="  images/background/21.jpg" alt="Background" />
        </div>
        <div class="container">
          <div class="divider--shape-1up"></div>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1">
              <div class="dishes-wrapper">
                <div class="dishes-bordered">
                  <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
                      <div class="heading heading-1 mb-50 text--center">
                        <p class="heading--subtitle">Delicious Recipes</p>
                        <h2 class="heading--title">Our Special Dishes</h2>
                        <div class="divider--shape-4"></div>
                      </div>
                    </div>
                    <!-- .col-md-8 end -->
                  </div>
                  <!-- .row end -->
                  <div class="row">
                    <!-- Dish #1 -->
                    <div class="col-xs-12 col-sm-12 col-md-6">
                      <div class="dish-panel">
                        <div class="dish--img">
                          <img src="  images/menu/dish/1.jpg" alt="dish" />
                        </div>
                        <div class="dish--content">
                          <div class="dish--content-bio">
                            <h3 class="dish--title">Grilled Fillet</h3>
                            <div class="dish--price">$26.95</div>
                          </div>
                          <p class="dish--desc">
                            Pork fillet, ginger, garlic, honey, pepper & canola
                            oil, Pork fillet, ginger.
                          </p>
                        </div>
                      </div>
                      <!-- .dish end -->
                    </div>
                    <!-- .dish-panel end -->

                    <!-- Dish #2 -->
                    <div class="col-xs-12 col-sm-12 col-md-6">
                      <div class="dish-panel">
                        <div class="dish--img">
                          <img src="  images/menu/dish/2.jpg" alt="dish" />
                        </div>
                        <div class="dish--content">
                          <div class="dish--content-bio">
                            <h3 class="dish--title">Alder Grilled Seafood</h3>
                            <div class="dish--price">$44.95</div>
                          </div>
                          <p class="dish--desc">
                            Monkfish, onion, paella rice,smoked paprika,
                            Monkfish, onion, paella.
                          </p>
                        </div>
                      </div>
                      <!-- .dish end -->
                    </div>
                    <!-- .dish-panel end -->
                    <!-- Dish #3 -->
                    <div class="col-xs-12 col-sm-12 col-md-6">
                      <div class="dish-panel">
                        <div class="dish--img">
                          <img src="  images/menu/dish/3.jpg" alt="dish" />
                        </div>
                        <div class="dish--content">
                          <div class="dish--content-bio">
                            <h3 class="dish--title">Chicken Breast</h3>
                            <div class="dish--price">$28.95</div>
                          </div>
                          <p class="dish--desc">
                            Paupiette of chicken & beans, blue cheese, rosemary
                            & beans.
                          </p>
                        </div>
                      </div>
                      <!-- .dish end -->
                    </div>
                    <!-- .dish-panel end -->

                    <!-- Dish #4 -->
                    <div class="col-xs-12 col-sm-12 col-md-6">
                      <div class="dish-panel">
                        <div class="dish--img">
                          <img src="  images/menu/dish/4.jpg" alt="dish" />
                        </div>
                        <div class="dish--content">
                          <div class="dish--content-bio">
                            <h3 class="dish--title">Sea Trout</h3>
                            <div class="dish--price">$40.95</div>
                          </div>
                          <p class="dish--desc">
                            Roast trout, English asparagus, watercress ,
                            delicious.
                          </p>
                        </div>
                      </div>
                      <!-- .dish end -->
                    </div>
                    <!-- .dish-panel end -->
                  </div>
                  <!-- .row end -->
                </div>
                <!-- .dishes-bordered end -->
              </div>
              <!-- .dishes-wrapper end -->
            </div>
            <!-- .col-md-10 end -->
          </div>
          <!-- .row end -->
          <div class="divider--shape-1down"></div>
        </div>
        <!-- .container end -->
      </section>
      <!-- #specials1 end -->

      <!-- Testimonial #1
============================================= -->
      <section
        id="testimonial1"
        class="testimonial testimonial-1 bg-overlay bg-parallax bg-overlay-dark pb-90"
      >
        <div class="bg-section">
          <img src="  images/background/1.jpg" alt="Background" />
        </div>
        <div class="container">
          <div class="divider--shape-1up"></div>
          <div class="row clearfix">
            <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
              <div class="heading heading-1 mb-50 text--center">
                <p class="heading--subtitle">Testimonials</p>
                <h2 class="heading--title color-white">Happy Customers</h2>
                <div class="divider--shape-13"></div>
              </div>
            </div>
            <!-- .col-md-8 end -->
          </div>
          <!-- .row end -->
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
              <div
                id="testimonial-carousel"
                class="carousel carousel-dots carousel-white"
                data-slide="3"
                data-slide-rs="1"
                data-autoplay="false"
                data-nav="false"
                data-dots="true"
                data-space="30"
                data-loop="true"
                data-speed="800"
              >
                <!-- Testimonial #1 -->
                <div class="testimonial-container">
                  <div class="testimonial-panel">
                    <div class="testimonial-bordered">
                      <div class="testimonial--rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                      </div>
                      <!-- .testimonial-rating end -->
                      <div class="testimonial--body">
                        <p>
                          “ Steak In is simply the best. Great Food, nice
                          atmosphere and very reasonable prices. It just doesn't
                          get any better ”
                        </p>
                      </div>
                      <!-- .testimonial-body end -->
                      <div class="testimonial--meta">
                        <div class="testimonial--img">
                          <img
                            src="  images/testimonial/1.png"
                            alt="Testimonial Author"
                          />
                        </div>
                        <div class="testimonial--author">
                          <h4>Michael Luke</h4>
                        </div>
                      </div>
                      <!-- .testimonial-meta end -->
                    </div>
                  </div>
                  <!-- .testimonial-panel end -->
                  <div class="divider--shape-1up"></div>
                </div>
                <!-- Testimonial #2 -->
                <div class="testimonial-container">
                  <div class="testimonial-panel">
                    <div class="testimonial-bordered">
                      <div class="testimonial--rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                      </div>
                      <!-- .testimonial-rating end -->
                      <div class="testimonial--body">
                        <p>
                          “ We've been to Steak In many times over the years. We
                          know what to expect: great food and awesome prices ”
                        </p>
                      </div>
                      <!-- .testimonial-body end -->
                      <div class="testimonial--meta">
                        <div class="testimonial--img">
                          <img
                            src="  images/testimonial/2.png"
                            alt="Testimonial Author"
                          />
                        </div>
                        <div class="testimonial--author">
                          <h4>Henry Gabriel</h4>
                        </div>
                      </div>
                      <!-- .testimonial-meta end -->
                    </div>
                  </div>
                  <!-- .testimonial-panel end -->
                  <div class="divider--shape-1up"></div>
                </div>
                <!-- Testimonial #3 -->
                <div class="testimonial-container">
                  <div class="testimonial-panel">
                    <div class="testimonial-bordered">
                      <div class="testimonial--rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                      </div>
                      <!-- .testimonial-rating end -->
                      <div class="testimonial--body">
                        <p>
                          “ The reasonable prices, the great atmosphere are only
                          topped by the delicious food. Keep up the great work ”
                        </p>
                      </div>
                      <!-- .testimonial-body end -->
                      <div class="testimonial--meta">
                        <div class="testimonial--img">
                          <img
                            src="  images/testimonial/3.png"
                            alt="Testimonial Author"
                          />
                        </div>
                        <div class="testimonial--author">
                          <h4>Leo Jaxon</h4>
                        </div>
                      </div>
                      <!-- .testimonial-meta end -->
                    </div>
                  </div>
                  <!-- .testimonial-panel end -->
                  <div class="divider--shape-1up"></div>
                </div>
                <!-- Testimonial #4 -->
                <div class="testimonial-container">
                  <div class="testimonial-panel">
                    <div class="testimonial-bordered">
                      <div class="testimonial--rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                      </div>
                      <!-- .testimonial-rating end -->
                      <div class="testimonial--body">
                        <p>
                          “ Steak In is simply the best. Great Food, nice
                          atmosphere and very reasonable prices. It just doesn't
                          get any better ”
                        </p>
                      </div>
                      <!-- .testimonial-body end -->
                      <div class="testimonial--meta">
                        <div class="testimonial--img">
                          <img
                            src="  images/testimonial/4.png"
                            alt="Testimonial Author"
                          />
                        </div>
                        <div class="testimonial--author">
                          <h4>Anthony Hunter</h4>
                        </div>
                      </div>
                      <!-- .testimonial-meta end -->
                    </div>
                  </div>
                  <!-- .testimonial-panel end -->
                  <div class="divider--shape-1up"></div>
                </div>
              </div>
            </div>
            <!-- .col-md-12 end -->
          </div>
          <!-- .row end -->
          <div class="divider--shape-1down"></div>
        </div>
        <!-- .container end -->
      </section>
      <!-- #testimonial1 end -->

      <%- include("partials/footer") -%>