<%- include("partials/header") -%>

 <!-- Page Title #1
============================================= -->
<% var ADD = add %>
<% var UPDATE = update %>
<% var DELETE = deletee %> 
        <section id="page-title" class="page-title bg-overlay bg-parallax bg-overlay-gradient">
            <div class="bg-section">
                <img src="images/page-title/6.jpg" alt="Background" />
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="title title-1 text-center">
                            <div class="title--content">
                                <div class="title--subtitle">Ready To Serve</div>
                                <div class="title--heading">
                                    <h1>Modify Chefs</h1>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <ol class="breadcrumb">
                                <li><a href="index.html">Home</a></li>
                                <li><a href="index.html">Admin</a></li>
                                <li class="active">Modify Chefs</li>
                            </ol>
                            <div class="divider--shape-1down"></div>
                        </div>
                        <!-- .title end -->
                    </div>
                    <!-- .col-md-12 end -->
                </div>
                <!-- .row end -->
            </div>
            <!-- .container end -->
        </section>
        <!-- #page-title end -->

        <section id="contact1" class="contact contact-1 " style="width: 40%; margin: auto;">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="form-container">
                            <div class="row">
                             <% if(ADD != 0){ %>     
                                <div class="col-xs-12 col-sm-12 col-md-6">
                                    <div class="contact-form">
                                        <form  action="/page-modify-chefs" method="post" >
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <input type="number" min="0" max="100" class="form-control" name="chefid" id="firstName" placeholder="Chef ID:" required>
                                                </div>
                                                <div class="col-md-6">
                                                    <input type="text" class="form-control" name="fname" id="lastName" placeholder="First Name" required>
                                                </div>
                                                <div class="col-md-6">
                                                    <input type="text" class="form-control" name="lname" id="email" placeholder="Last Name:" required>
                                                </div>
                                                <div class="col-md-6">
                                                    <input type="text" class="form-control" name="Toc" id="phone" placeholder="Toc:" required>
                                                </div>
                                                <div class="col-md-6">
                                                    <input type="number" min="0" class="form-control" name="shopid" id="phone" placeholder="Shop ID:" required>
                                                </div>
                                                <div class="col-md-12">
                                                    <button name="modifychefs" value="addchefs" type="submit" class="btn btn--secondary btn--block mt-10" >Add</button>
                                                </div> 
                                            </div>
                                        </form>
                                    </div>
                                </div>
                             <% } %>
                             <% if(UPDATE != 0){ %>     
                                <div class="col-xs-12 col-sm-12 col-md-6">
                                    <div class="contact-form">
                                        <form  action="/page-modify-chefs" method="post" >
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <input type="number" min="0" class="form-control" name="chefid" id="firstName" placeholder="Chef ID:" required>
                                                </div>
                                                <div class="col-md-6">
                                                    <input type="text" class="form-control" name="fname" id="lastName" placeholder="First Name" required>
                                                </div>
                                                <div class="col-md-6">
                                                    <input type="text" class="form-control" name="lname" id="email" placeholder="Last Name:" required>
                                                </div>
                                                <div class="col-md-6">
                                                    <input type="text" class="form-control" name="Toc" id="phone" placeholder="Toc:" required>
                                                </div>
                                                <div class="col-md-6">
                                                    <input type="number" min="0" class="form-control" name="shopid" id="phone" placeholder="Shop ID:" required>
                                                </div>
                                                <div class="col-md-12">
                                                    <button name="modifychefs" value="updatechefs" type="submit" class="btn btn--secondary btn--block mt-10" >Update</button>
                                                </div> 
                                            </div>
                                        </form>
                                    </div>
                                </div>
                             <% } %>
                             <% if(DELETE != 0){ %>     
                                <div class="col-xs-12 col-sm-12 col-md-6">
                                    <div class="contact-form">
                                        <form  action="/page-modify-chefs" method="post" >
                                            <div class="row">
                                                <div class="col-md-6" style="margin-left: 14rem;">
                                                    <input type="number" min="0" class="form-control" name="chefid" id="firstName" placeholder="Chef ID:" required>
                                                </div>
                                                <div class="col-md-6" style="margin-left: 14rem;">
                                                    <button name="modifychefs" value="deletechefs" type="submit" class="btn btn--secondary btn--block mt-10" >Delete</button>
                                                </div> 
                                            </div>
                                        </form>
                                    </div>
                                </div>
                             <% } %>            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

<!-- <%- include("partials/footer") -%> -->