<%- include("partials/header") -%>

<!-- Page Title #1
============================================= -->
<section id="page-title" class="page-title bg-overlay bg-parallax bg-overlay-gradient">
    <div class="bg-section">
        <img src="images/page-title/2.jpg" alt="Background" />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="title title-1 text-center">
                    <div class="title--content">
                        <div class="title--subtitle">Our Story</div>
                        <div class="title--heading">
                            <h1>We Are Steak In!</h1>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <ol class="breadcrumb">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="index.html">about</a></li>
                        <li class="active">Our Story</li>
                    </ol>
                    <div class="divider--shape-1down"></div>
                </div>
                <!-- .title end -->
            </div>
            <!-- .col-md-12 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #page-title end -->

<!-- banner#7
============================================= -->
<section id="banner7" class="banner banner-1 text-center pb-90">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
                <div class="heading heading-1 text--center mb-50">
                    <p class="heading--subtitle">Hello dear</p>
                    <h2 class="heading--title">We Are Steak In!</h2>
                    <div class="divider--shape-4"></div>
                    <p class="heading--desc">Steak In was the first retaurant to open in Egypt, the resturant was designed with the history in mind we have created a soft industrial dining room, combined with an open kitchen, coffee take out bar and on site coffee roastery.</p>
                </div>
                <!-- .heading end -->
            </div>
            <!-- .col-md-6 end -->
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="banner-panel">
                    <div class="banner--img">
                        <img src="images/banners/16.jpg" alt="banner img" class="img-responsive">
                    </div>
                </div>
                <!-- .banner-panel end -->
            </div>
            <!-- .col-md-4 end -->

            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="banner-panel">
                    <div class="banner--img">
                        <img src="images/banners/17.jpg" alt="banner img" class="img-responsive">
                    </div>
                </div>
                <!-- .banner-panel end -->
            </div>
            <!-- .col-md-4 end -->
        </div>
        <!-- .row end -->
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 text-center">
                <div class="mt-20">
                    Master Chef
                </div>
                <div class="signiture--img mt-10">
                    <img src="images/heading/Signiture.png" alt="Signiture img">
                </div>
            </div>
        </div>
    </div>
    <!-- .container end -->
</section>
<!-- #banner7 end -->

<!-- Testimonial #5
============================================= -->
<section id="testimonial5" class="testimonial testimonial-5 bg-overlay bg-parallax bg-overlay-dark text-center">
    <div class="bg-section">
        <img src="images/background/2.jpg" alt="Background" />
    </div>
    <div class="container">
        <div class="divider--shape-1up"></div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1">
                <div id="testimonial-wide" class="carousel carousel-white" data-slide="1" data-slide-rs="1" data-autoplay="false" data-nav="false" data-dots="false" data-space="0" data-loop="true" data-speed="800">
                    <!-- Testimonial #1 -->
                    <div class="testimonial-panel">
                        <div class="testimonial--quote">
                            <img src="images/testimonial/chef-hat.png" alt="hat">
                        </div>
                        <div class="testimonial--body">
                            <p class="color-white">I think the most wonderful thing in the world is another chef. I'm always excited about learning new things about food.</p>
                        </div>
                        <!-- .testimonial-body end -->
                        <div class="testimonial--meta">
                            <div class="testimonial--author">
                                <h4>Michael Luke</h4>
                            </div>
                        </div>
                        <!-- .testimonial-meta end -->
                    </div>
                    <!-- .testimonial-panel end -->

                    <!-- Testimonial #2 -->
                    <div class="testimonial-panel">
                        <div class="testimonial--quote">
                            <img src="images/testimonial/chef-hat.png" alt="hat">
                        </div>
                        <div class="testimonial--body">
                            <p class="color-white">I think the most wonderful thing in the world is another chef. I'm always excited about learning new things about food.</p>
                        </div>
                        <!-- .testimonial-body end -->
                        <div class="testimonial--meta">
                            <div class="testimonial--author">
                                <h4>Henry Gabriel</h4>
                            </div>
                        </div>
                        <!-- .testimonial-meta end -->
                    </div>
                    <!-- .testimonial-panel end -->

                    <!-- Testimonial #3 -->
                    <div class="testimonial-panel">
                        <div class="testimonial--quote">
                            <img src="images/testimonial/chef-hat.png" alt="hat">
                        </div>
                        <div class="testimonial--body">
                            <p class="color-white">I think the most wonderful thing in the world is another chef. I'm always excited about learning new things about food.</p>
                        </div>
                        <!-- .testimonial-body end -->
                        <div class="testimonial--meta">
                            <div class="testimonial--author">
                                <h4>Leo Jaxon</h4>
                            </div>
                        </div>
                        <!-- .testimonial-meta end -->
                    </div>
                    <!-- .testimonial-panel end -->

                    <!-- Testimonial #4 -->
                    <div class="testimonial-panel">
                        <div class="testimonial--quote">
                            <img src="images/testimonial/chef-hat.png" alt="hat">
                        </div>
                        <div class="testimonial--body">
                            <p class="color-white">I think the most wonderful thing in the world is another chef. I'm always excited about learning new things about food.</p>
                        </div>
                        <!-- .testimonial-body end -->
                        <div class="testimonial--meta">
                            <div class="testimonial--author">
                                <h4>Anthony Hunter</h4>
                            </div>
                        </div>
                        <!-- .testimonial-meta end -->
                    </div>
                    <!-- .testimonial-panel end -->
                </div>
            </div>
            <!-- .col-md-12 end -->
        </div>
        <!-- .row end -->
        <div class="divider--shape-1down"></div>
    </div>
    <!-- .container end -->
</section>
<!-- .testimonial5 end -->

<!-- Banner#6
============================================= -->
<section id="banner6" class="banner banner-6 text-center">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1">
                <h3 class="panel--heading">Since our grand opening in May 1995, Granny has won great awards from food critics and organizations all over the world.</h3>
                <ul class="panel--logos list-unstyled list-inline mb-50">
                    <li><img src="images/tabs/1.png" alt="logo"></li>
                    <li><img src="images/tabs/2.png" alt="logo"></li>
                    <li><img src="images/tabs/3.png" alt="logo"></li>
                    <li><img src="images/tabs/4.png" alt="logo"></li>
                    <li><img src="images/tabs/5.png" alt="logo"></li>
                    <li><img src="images/tabs/6.png" alt="logo"></li>
                    <li><img src="images/tabs/7.png" alt="logo"></li>
                </ul>
            </div>
            <!-- .col-md-10 end -->
        </div>
        <!-- .row end -->
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 col-md-offset-2">
                <ul class="panel--details text-right">
                    <li>The Good Food Award, Gold Seal (2017)</li>
                    <li>The Organic Food Award, Soil Association (2017)</li>
                    <li>The Great British & Egyptian Food Award (2016)</li>
                    <li>The Food Made Good Award (2015)</li>
                    <li>The Great Food Taste Award (2014)</li>
                    <li>The Food Award, Egypt (2014)</li>
                </ul>
            </div>
            <!-- .col-md-4 end -->
            <div class="col-xs-12 col-sm-6 col-md-6">
                <ul class="panel--details text-left">
                    <li>The Best Food Award, Egypt (2013)</li>
                    <li>The Best Chef in Egypt & Best Restaurant (2012, 2013)</li>
                    <li>The Best Emerging Egypt Cuisine (2012)</li>
                    <li>The Best Dining Experience (2011)</li>
                    <li>The Best Chef in Egypt (2010)</li>
                    <li>The Egyptian Star (2009)</li>
                </ul>
            </div>
            <!-- .col-md-6 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #banner6 end -->

<!-- Testimonial #1
============================================= -->
<section id="testimonial1" class="testimonial testimonial-1 bg-overlay bg-parallax bg-overlay-dark">
    <div class="bg-section">
        <img src="images/background/1.jpg" alt="Background" />
    </div>

    <div class="container">
        <div class="divider--shape-1up"></div>
        <div class="row clearfix">
            <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
                <div class="heading heading-1 mb-50 text--center">
                    <p class="heading--subtitle">Testimonials</p>
                    <h2 class="heading--title color-white">Happy Customers</h2>
                    <div class="divider--shape-13"></div>
                </div>
            </div>
            <!-- .col-md-8 end -->
        </div>
        <!-- .row end -->
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div id="testimonial-carousel" class="carousel carousel-dots carousel-white" data-slide="3" data-slide-rs="1" data-autoplay="false" data-nav="false" data-dots="true" data-space="30" data-loop="true" data-speed="800">
                    <!-- Testimonial #1 -->
                    <div class="testimonial-container">

                        <div class="testimonial-panel">
                            <div class="testimonial-bordered">
                                <div class="testimonial--rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <!-- .testimonial-rating end -->
                                <div class="testimonial--body">
                                    <p>“ Steak In is simply the best. Great Food, nice atmosphere and very reasonable prices. It just doesn't get any better ”</p>
                                </div>
                                <!-- .testimonial-body end -->
                                <div class="testimonial--meta">
                                    <div class="testimonial--img">
                                        <img src="images/testimonial/1.png" alt="Testimonial Author">
                                    </div>
                                    <div class="testimonial--author">
                                        <h4>Michael Luke</h4>
                                    </div>
                                </div>
                                <!-- .testimonial-meta end -->
                            </div>
                        </div>
                        <!-- .testimonial-panel end -->
                        <div class="divider--shape-1up"></div>
                    </div>
                    <!-- Testimonial #2 -->
                    <div class="testimonial-container">

                        <div class="testimonial-panel">
                            <div class="testimonial-bordered">
                                <div class="testimonial--rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <!-- .testimonial-rating end -->
                                <div class="testimonial--body">
                                    <p>“ We've been to Steak In many times over the years. We know what to expect: great food and awesome prices ”</p>
                                </div>
                                <!-- .testimonial-body end -->
                                <div class="testimonial--meta">
                                    <div class="testimonial--img">
                                        <img src="images/testimonial/2.png" alt="Testimonial Author">
                                    </div>
                                    <div class="testimonial--author">
                                        <h4>Henry Gabriel</h4>
                                    </div>
                                </div>
                                <!-- .testimonial-meta end -->
                            </div>

                        </div>
                        <!-- .testimonial-panel end -->
                        <div class="divider--shape-1up"></div>
                    </div>
                    <!-- Testimonial #3 -->
                    <div class="testimonial-container">

                        <div class="testimonial-panel">
                            <div class="testimonial-bordered">
                                <div class="testimonial--rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <!-- .testimonial-rating end -->
                                <div class="testimonial--body">
                                    <p>“ The reasonable prices, the great atmosphere are only topped by the delicious food. Keep up the great work ”</p>
                                </div>
                                <!-- .testimonial-body end -->
                                <div class="testimonial--meta">
                                    <div class="testimonial--img">
                                        <img src="images/testimonial/3.png" alt="Testimonial Author">
                                    </div>
                                    <div class="testimonial--author">
                                        <h4>Leo Jaxon</h4>
                                    </div>
                                </div>
                                <!-- .testimonial-meta end -->
                            </div>

                        </div>
                        <!-- .testimonial-panel end -->
                        <div class="divider--shape-1up"></div>
                    </div>
                    <!-- Testimonial #4 -->
                    <div class="testimonial-container">

                        <div class="testimonial-panel">
                            <div class="testimonial-bordered">
                                <div class="testimonial--rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <!-- .testimonial-rating end -->
                                <div class="testimonial--body">
                                    <p>“ Steak In is simply the best. Great Food, nice atmosphere and very reasonable prices. It just doesn't get any better ”</p>
                                </div>
                                <!-- .testimonial-body end -->
                                <div class="testimonial--meta">
                                    <div class="testimonial--img">
                                        <img src="images/testimonial/4.png" alt="Testimonial Author">
                                    </div>
                                    <div class="testimonial--author">
                                        <h4>Anthony Hunter</h4>
                                    </div>
                                </div>
                                <!-- .testimonial-meta end -->
                            </div>
                        </div>
                        <!-- .testimonial-panel end -->
                        <div class="divider--shape-1up"></div>
                    </div>
                </div>
            </div>
            <!-- .col-md-12 end -->
        </div>
        <!-- .row end -->
        <div class="divider--shape-1down"></div>
    </div>
    <!-- .container end -->
</section>
<!-- #testimonial1 end -->

<!-- Blog Carousel
============================================= -->
<section id="blog2" class="blog blog-carousel pb-80">
    <div class="container">
        <div class="row clearfix">
            <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
                <div class="heading heading-1 mb-50 text--center">
                    <p class="heading--subtitle">Don’t miss</p>
                    <h2 class="heading--title mb-0">Our News & Events</h2>
                    <div class="divider--shape-4"></div>
                </div>
            </div>
            <!-- .col-md-8 end -->
        </div>
        <!-- .row end -->
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="carousel" data-slide="3" data-slide-rs="2" data-autoplay="true" data-nav="false" data-dots="false" data-space="0" data-loop="true" data-speed="800">

                    <!-- Blog Entry #1 -->
                    <div class="blog-entry">

                        <div class="entry--content">
                            <div class="entry--meta">
                                <span class="entry--date">Feb 22, 2017</span> / <span><a href="#">Fall</a> , <a href="#">Side Dish</a></span>
                            </div>
                            <div class="entry--title">
                                <h4><a href="#">Simple Recipes for Spring</a></h4>
                            </div>
                            <div class="entry--img">
                                <a href="#">
								<img src="images/blog/grid/1.jpg" alt="entry image"/>
							</a>
                            </div>
                            <div class="entry--bio">
                                My favorite form of cold-weather exercise is snow-shoeing, but by chance I haven’t been able to go this year. Too busy working at the computer
                            </div>
                        </div>
                        <!-- .entry-content end -->
                    </div>
                    <!-- .blog-entry end -->

                    <!-- Blog Entry #2 -->
                    <div class="blog-entry">
                        <div class="entry--content">
                            <div class="entry--meta">
                                <span class="entry--date">Feb 22, 2017</span> / <span><a href="#">Apple</a> , <a href="#">Stuffing And Dressing</a></span>
                            </div>
                            <div class="entry--title">
                                <h4><a href="#">Dinner Party for a Chef!</a></h4>
                            </div>
                            <div class="entry--img">
                                <a href="#">
								<img src="images/blog/grid/2.jpg" alt="entry image"/>
							</a>
                            </div>
                            <div class="entry--bio">
                                I began my career as a recipe tester for cookbooks, and I did that work for two years. I loved cookbooks and loved browsing for them at thrift stores...
                            </div>
                        </div>
                        <!-- .entry-content end -->
                    </div>
                    <!-- .blog-entry end -->

                    <!-- Blog Entry #3 -->
                    <div class="blog-entry">
                        <div class="entry--content">
                            <div class="entry--meta">
                                <span class="entry--date">Feb 22, 2017</span> / <span><a href="#">Food</a> , <a href="#">Cheese</a></span>
                            </div>
                            <div class="entry--title">
                                <h4><a href="#">Cake with Cream Cheese</a></h4>
                            </div>
                            <div class="entry--img">
                                <a href="#">
								<img src="images/blog/grid/3.jpg" alt="entry image"/>
							</a>
                            </div>
                            <div class="entry--bio">
                                I’ve been baking this cake for many years, and have experimented with making it into cupcakes, as a layer cake, serving it dusted with
                            </div>
                        </div>
                        <!-- .entry-content end -->
                    </div>
                    <!-- .blog-entry end -->

                    <!-- Blog Entry #4 -->
                    <div class="blog-entry">

                        <div class="entry--content">
                            <div class="entry--meta">
                                <span class="entry--date">Feb 22, 2017</span> / <span><a href="#">Green</a> , <a href="#">Casserole</a></span>
                            </div>
                            <div class="entry--title">
                                <h4><a href="#">The Best Side Dishes</a></h4>
                            </div>
                            <div class="entry--img">
                                <a href="#">
							<img src="images/blog/grid/4.jpg" alt="entry image"/>
						</a>
                            </div>
                            <div class="entry--bio">
                                From green bean casserole to mashed potatoes and cranberry sauce, find standout Thanksgiving sides from Food Network chefs find standout.
                            </div>
                        </div>
                        <!-- .entry-content end -->
                    </div>
                    <!-- .blog-entry end -->

                    <!-- Blog Entry #5 -->
                    <div class="blog-entry">

                        <div class="entry--content">
                            <div class="entry--meta">
                                <span class="entry--date">Feb 22, 2017</span> / <span><a href="#">Casserole</a></span>
                            </div>
                            <div class="entry--title">
                                <h4><a href="#">Cornbread Stuffing Apples</a></h4>
                            </div>
                            <div class="entry--img">
                                <a href="#">
							<img src="images/blog/grid/5.jpg" alt="entry image"/>
						</a>
                            </div>
                            <div class="entry--bio">
                                Cook sausage for 5 to 7 minutes until browned. Add onions and celery and saute until softened. Add salt and pepper, to taste. Mix in apples, thyme
                            </div>
                        </div>
                        <!-- .entry-content end -->
                    </div>
                    <!-- .blog-entry end -->

                </div>
                <!-- .carousel end -->
            </div>
            <!-- .col-md-6 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #blog end -->

<%- include("partials/footer") -%>
