body,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6,
.blockquote,
blockquot,
.pagination > li > a,
.pagination > li > span,
.heading .heading--subtitle,
.heading .heading--title,
.page-title .title--desc p,
.accordion .panel .panel--heading a,
.alerts .alert-content h4,
.btn,
.form-control,
.blog-entry .entry--meta,
.blog-entry .entry--title h4,
.blog-entry .entry--date,
.entry-prev-next p,
.entry-related .entry--title h5,
.entry-related .entry--meta,
ul.comments-list .comment-body .comment h6,
ul.comments-list .comment-body .comment .date,
.specials-2 .dish--title,
.menu .dish-panel .dish--title,
.heading .heading--desc,
.slider .slide--bio,
.slider-portfolio .slide--subheadline,
.slider-portfolio .slide--headline,
.landing-hero p,
.module-reservation .btn-popup,
.cart-total-amount ul li,
.product-tabs .nav-tabs > li > a,
.product-num h2,
.product-options select,
.shop-item .shop--price,
.shop-item .shop--title h4,
.header-fixed-side .navbar-nav a,
.widget-recent-posts .entry .entry-title a,
.widget-recent-posts .entry .entry-desc .entry-meta a,
.member .member-info h6,
.testimonial--author h4,
.video--content .video--player,
.testimonial .testimonial-panel p,
.countdown-amount,
.countdown-period,
.widget-info .info--title,
.widget-recent-products .product .product-desc .product-meta,
.widget-recent-products .product .product-title a,
.shop-filter li a,
.product--content .product--title a,
.product--content .product--price,
.shop-product .product-title h3,
.shop-product .product-price,
.pricing .pricing--heading p,
.portfolio-filter li a,
.title .title--heading h1,
.cart-box .cart-overview p,
.module--search-box .form-control,
.landing-hero h1,
.slider .slide--headline,
.slider .slide--subheadline,
.heading .heading--title,
footer .footer--reservation h3,
footer .footer--widget-content h3,
.menu-9 .dish-panel .dish--title,
.menu-8 .dish-panel .dish--title,
.menu-7 .dish-panel .dish--title,
.menu-5 .dish-panel .dish--title,
.specials-2 .dish--price,
#dishPopup .modal-body .img-popup .img-popup-overlay .popup--price,
.dish-panel .dish--price,
.counter .count-box .count-title,
.banner .btn--link,
.page-404 h3,
.heading .heading--subtitle,
.heading .heading--title,
.tabs .tab--heading,
.cta p,
.banner-5 .banner--desc,
.history-panel h6,
.banner-6 .panel--heading,
#dishPopup .modal-body .img-popup .img-popup-overlay h3,
.heading .heading--subtitle,
.slider .slide--subheadline,
.landing-hero h6,
.landing-demos .portfolio-title h4,
.number-panel .number--content h6,
.page-title .title--subtitle,
.title-2 .title--heading h1,
.product-item .product--content .product--cat,
.testimonial-5 .testimonial-panel p,
.video-button .heading--title,
.tabs .nav-tabs > li > a{
	font-family: 'Changa', sans-serif !important;
}
.heading .heading--subtitle,
.slider .slide--subheadline{
	font-size: 22px;
}
.heading .heading--title{
	font-size: 40px;
}

.slider .slide--headline{
	font-size: 50px;
}
.testimonial-panel p,
.testimonial-3 .testimonial-panel p{
	font-size: 17px;
	line-height: 26px;
}